/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
	--ion-color-primary: #217ecd;
	--ion-background-color: #ffffff;
	--ion-content-background: #ffffff;
	--ion-text-color: #5b5b5b;
	--app-light-blue: #dae9f7;
	--app-light-blue2: #bdd9f3;
	--app-light-red: #ffb5b5;
	--app-light-orange: #ffd2b5;
	--app-dark-blue: #0e5e91;
}